body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
 background-image: url('https://s2.glbimg.com/QenQ4lp1ozlfvtmhciB2o5iy5Qo=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_f035dd6fd91c438fa04ab718d608bbaa/internal_photos/bs/2020/J/M/2BfgTnSEAZr3jhy5D8gQ/dolar.jpg');
  background-color: #000000;
  background: couver;
  /*background-position: center bottom;
  background-repeat: no-repeat;*/
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #000000;
    margin: 5 0 5px;
    margin-left: 60px;
    
  }
  
  .page-subtitle {
    color: #000000;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }

input{
  border-radius: 30px;
  /*border-color: white;*/
  font-size: 13px;
  background-color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  height: 60px;
  width: 100px;
  color: black;
}
button{
  font-size: 16px;
  font-weight: bolder;
 color: #ffffff;
 background: #383e56;
 /* border-color: #383e56;*/
  cursor: pointer;
  border-radius: 20px 20px 20px 20px;
  padding: 15px 40px;
}

h2{
  color:black;
  font-size: 22px;
  margin-left: 60px;
}